Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-empty-catch,
  -bugprone-exception-escape,
  -bugprone-std-namespace-modification,
  -bugprone-unchecked-optional-access,
  performance-*,
  -performance-enum-size,
  portability-*,
  -portability-avoid-pragma-once,
  modernize-use-nullptr,
  modernize-use-override,
  readability-redundant-*
WarningsAsErrors: '*'
HeaderFilterRegex: '^(AssetTool|KeireAssetWorker|KeireClient|KeireCore|KeireEditorTests|KeireHub|KeireRenderTests|KeireRuntime|KeireTests|Scripts/Premake|SourceModules)/'
FormatStyle: file
CheckOptions:
  performance-unnecessary-value-param.AllowedTypes: 'std::stop_token;ScriptSystemSpecification;ReplayPlaybackRequest;std::filesystem::path'
