[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Vendor/doctest"]
	path = Vendor/doctest
	url = https://github.com/doctest/doctest.git
[submodule "Vendor/SDL"]
	path = Vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "Vendor/json"]
	path = Vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "Vendor/imgui"]
	path = Vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Vendor/zstd"]
	path = Vendor/zstd
	url = https://github.com/facebook/zstd.git
[submodule "Vendor/entt"]
	path = Vendor/entt
	url = https://github.com/skypjack/entt.git
[submodule "Vendor/glm"]
	path = Vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Vendor/SDL_shadercross"]
	path = Vendor/SDL_shadercross
	url = https://github.com/libsdl-org/SDL_shadercross.git
[submodule "Vendor/assimp"]
	path = Vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Vendor/stb"]
	path = Vendor/stb
	url = https://github.com/nothings/stb.git
