* text=auto

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=lf
*.psd1 text eol=lf
*.sh text eol=lf
*.lua text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.md text eol=lf
*.py text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.ts text eol=lf
*.html text eol=lf
*.css text eol=lf
*.cs text eol=lf
*.toml text eol=lf
*.conf text eol=lf
*.example text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf

KeireHubContent/Templates/** text eol=lf

*.exe binary
*.ico binary
*.jpg binary
*.jpeg binary
*.res binary
*.ttf binary
*.zip binary
*.gz binary
