* text=auto

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=lf
*.psd1 text eol=lf
*.sh text eol=lf
*.lua text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.md text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf

*.exe binary
*.zip binary
*.gz binary
